body {
    /* border: solid white 4px; */
    margin: 0;
    padding: 10px;
    height: 100vh;
    background: #252525;
    display: flex;
}

#container {
    /* border: solid yellow 4px; */
    background: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: auto;
    /* position: relative; */
    display: flex;
     flex-direction: column;
    align-items: center;
}

#top {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
    flex-wrap: wrap;
    /* gap: 20rem; */
    /* border: solid yellow 3px; */
}

#textTitle {
    display: flex;
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 47.7px;
    letter-spacing: -2.5px;
    margin: 0;
    /* border: solid black 3px; */
    width: 100%;
    max-width: 350px;
    animation: cursor-blink 0.7s infinite;
}

@keyframes cursor-blink {
    0%, 100% { border-color: transparent; }
    50% { border-color: 2px solid red; }
}

#textBox {
    display: flex;
    /* border: red solid 3px; */
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 350px;
}

#question {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    margin: 0;
}

#paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -1.5px;
    width: 100%;
    margin: 0;
}

#central {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: solid red 3px; */
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

@media (max-width: 375px) {
    #central {
        width: 100%;
    }
}

#box:nth-child(2) {
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

  #box:nth-child(6) {
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

#box {
    display: flex;
    flex-direction: column;
    /* border: solid purple 3px; */
    width: 290px;
    
}

#box:hover {
    animation-name: jello;
        -webkit-animation-name: jello;
        -moz-animation-name: jello;
    animation-duration: 3s;
        -webkit-animation-duration: 3s;
        -moz-animation-duration: 3s;
    transform-origin: center;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
}

    @keyframes jello {
        from,11.1%,to {transform: translate3d(0, 0, 0);}
        22.2% {transform: skewX(-12.5deg) skewY(-12.5deg);}
        33.3% {transform: skewX(6.25deg) skewY(6.25deg);}
        44.4% {transform: skewX(-3.125deg) skewY(-3.125deg);}
        55.5% {transform: skewX(1.5625deg) skewY(1.5625deg);}
        66.6% {transform: skewX(-0.78125deg) skewY(-0.78125deg);}
        77.7% {transform: skewX(0.390625deg) skewY(0.390625deg);}
        88.8% {transform: skewX(-0.1953125deg) skewY(-0.1953125deg);}
    }

@media (max-width: 375px) {
    #box {
        width: 130px;
    }
}

#box1 {
    /* border: solid red 3px; */
    display: inline-block;
    position: relative;
    width: 275px;
    gap: 10px;
}

@media (max-width: 375px) {
    #box1 {
        display: inline-block;
        position: relative;
        width: 175px;
        gap: 2px;
    }
}

#box1 img {
    /* border: solid yellow 3px; */
    width: 238px;
    border-radius: 20px;
}

@media (max-width: 375px) {
    #box1 img {
        width: 100px;
        border-radius: 20px;
    }
}

#role {
    /* border: solid black 3px; */
    width: 10rem;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.9px;
    margin: 0;
    white-space: nowrap;
    position: absolute;
    top: 10.3rem;
    right: 0;
    transform: rotate(90deg);
    transform-origin: 100% 0;
}

@media (max-width: 375px) {
    #role {
        font-size: 10px;
        top: 10rem;
        right: 48px;
    }
}

#box2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

@media (max-width: 375px) {
    #box2 {
        flex-direction: column;
        align-items: start;
        gap: 0;
    }
}

#name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 0;   
}

@media (max-width: 375px) {
    #name {
        font-size: 14px;
    }
}

#linkedin {
    color: #0077B5;
}

@media (max-width: 375px) {
    #linkedin svg,
    #git svg {
        width: 14px;
    }
}

#git {
    color: #181717;
}

#linkedin:hover,
#git:hover {
    filter: drop-shadow(1.5px -0.5px 0.5px #000);
    transition: all 0.5s ease-out;
}

footer {
    /* border: solid yellow 3px; */
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 5rem;
}

#createdBy {
    color: #A9A9A9;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.07px;
    /* border: solid red 3px; */
    width: 100%;
    text-align: center;
    margin-top: auto;
}

#author {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}